.content-wrapper .video-list {
    display: grid;
    gap: 1rem;
    padding: 1.25rem 0 4rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.video-list .video-card {
    text-decoration: none;
}

.video-list .video-card .video-info {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.5rem;
}

.video-list .video-card .thumbnail-container{
    position: relative;
}

.video-list .video-card .thumbnail {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16 /9;
}

.video-list .video-card .duration {
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    background: var(--overlay-dark-color);
}

.video-list .video-card .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-list .video-card .title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--green-color);
}

.video-list .video-card .title:hover{
    color: var(--primary-color);
}

.video-list .video-card p{
    font-size: 0.875rem;
    color: var(--secondary-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
}

.video-list .video-card .channel-name {
    margin: 0.25rem 0 0.15rem;
}